<h3 class="component-heading">Hubble</h3>

- company: Hubble
location: Worthington, OH USA
positions:
- title: Founder
start: Feb 2020
end: Present
responsibilities:
- <a href='https://hubble.vote'>Hubble</a> is an easy-to-use platform to help political campaigns centralize their voters, contacts, finances, and everything else.

<div class="set-01__card">
  <div class="set-01__inner-wrapper">
    <table class="set-01__content-wrapper">
      <tbody>
        <tr>
          <td class="set-01__image-wrapper">
            <a class="set-01__image-link" href="https://hubble.vote">
              <img class="set-01__image-link" src="https://assets.hubble.vote/rebrand/mono-light/logo.png" alt="Hubble">
            </a>
          </td>
          <td class="set-01__content">
            <h3 class="set-01__title">
              <a href="https://hubble.vote">Hubble</a>
            </h3>
            <div class="set-01__date">Closed Source</div>
            <p>Hubble is an easy-to-use platform to help political campaigns centralize their voters, contacts, finances, and everything else.</p>
            <p>Started in 2019 as the database my website used to store form submissions. Hubble grew into a powerhouse after a friends congressional campaign implemented it.</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
