<h3 class="component-heading">MythCoders</h3>

<p>Most of my work is done under the name MythCoders. Work done on behalf of clients can be viewed at <a href="https://mythcoders.com/">MythCoders</a>.</p>

Worthington, OH USA
Founder
start in Oct 2017
- One person small business that uses HashiCorp products to provide affordable technical solutions to local governments, businesses, and political candidates.
- Utilize infrastructure-as-code to design and maintain multi-environment cloud networks in DigitalOcean and AWS with an n-tier architecture. Secured using latest industry standards. Currently powering five applications with 99.9% up-time.
- Created and open-sourced <a href='https://github.com/mythcoders/hermes'>Hermes</a> to handle logging and routing emails to AWS Simple Email Service.
- Built an e-commerce site where customers book seats to in-person workshops and customize the DIY project they'll craft.

<div class="set-01__card">
  <div class="set-01__inner-wrapper">
    <table class="set-01__content-wrapper">
      <tbody>
        <tr>
          <td class="set-01__image-wrapper">
            <a class="set-01__image-link" href="http://github.com/mythcoders/hermes">
              <img class="set-01__image-link" src="/assets/icons/mailbox_world-2.png" alt="Hermes">
            </a>
          </td>
          <td class="set-01__content">
            <h3 class="set-01__title">
              <a href="http://github.com/mythcoders/hermes">Hermes</a>
            </h3>
            <div class="set-01__date">Open Source</div>
            <p>
              Rails API for logging emails and then sending them to AWS Simple Email Service for delivery.
              Supports multiple API clients and tracking emails sent by each client.
            </p>
            <p>
              I created it for use at MythCoders but it's a great tool for any person/org that needs to log emails
              before sending them to AWS.
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
