<div class="card">
  <h3 class="card-header text-white bg-primary">Newby for Congress</h3>
  <div class="card-body">
    <ul class="list-inline">
      <li class="list-inline-item">
        <img src="/assets/icons/entire_network_globe-1.png" alt="World icon">
        US Congress - OH 15th District
      </li>
      <li class="list-inline-item">
        <img src="/assets/icons/user_computer-0.png" alt="User icon">
        Campaign Senior Advisor
      </li>
    </ul>
  </div>
</div>
<br />
<div class="card">
  <h3 class="card-header text-white bg-primary">Adkins for Ohio</h3>
  <div class="card-body">
    <ul class="list-inline">
      <li class="list-inline-item">
        <img src="/assets/icons/entire_network_globe-1.png" alt="World icon">
        Ohio State Senate - 16th District
      </li>
      <li class="list-inline-item">
        <img src="/assets/icons/user_computer-0.png" alt="User icon">
        Candidate
      </li>
    </ul>
  </div>
</div>
