<h3 class="component-heading">Projects</h3>

<p>Most of my work is done under the name MythCoders. Work done on behalf of clients can be viewed at <a href="https://mythcoders.com/">MythCoders</a>.</p>

<div class="set-01__card">
  <div class="set-01__inner-wrapper">
    <table class="set-01__content-wrapper">
      <tbody>
        <tr>
          <td class="set-01__image-wrapper">
            <a class="set-01__image-link" href="https://hubble.vote">
              <img class="set-01__image-link" src="https://assets.hubble.vote/rebrand/mono-dark/logo.png" alt="Hubble">
            </a>
          </td>
          <td class="set-01__content">
            <h3 class="set-01__title">
              <a href="https://hubble.vote">Hubble</a>
            </h3>
            <div class="set-01__date">Closed Source</div>
            <p>Hubble is an easy-to-use platform to help political campaigns centralize their voters, contacts, finances, and everything else.</p>
            <p>Started in 2019 as the database my website used to store form submissions. Hubble grew into a powerhouse after a friends congressional campaign implemented it.</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="set-01__card">
  <div class="set-01__inner-wrapper">
    <table class="set-01__content-wrapper">
      <tbody>
        <tr>
          <td class="set-01__image-wrapper">
            <a class="set-01__image-link" href="http://github.com/mythcoders/hermes">
              <img class="set-01__image-link" src="/assets/icons/mailbox_world-2.png" alt="Hermes">
            </a>
          </td>
          <td class="set-01__content">
            <h3 class="set-01__title">
              <a href="http://github.com/mythcoders/hermes">Hermes</a>
            </h3>
            <div class="set-01__date">Open Source</div>
            <p>
              Rails API for logging emails and then sending them to AWS Simple Email Service for delivery.
              Supports multiple API clients and tracking emails sent by each client.
            </p>
            <p>
              I created it for use at MythCoders but it's a great tool for any person/org that needs to log emails
              before sending them to AWS.
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
