<div class="card">
  <div class="card-body">
    <p class="card-text">All my work is done under the name MythCoders. Work done on behalf of clients can be viewed at <a href="https://mythcoders.com/clients">MythCoders</a>.</p>
  </div>
</div>

<br />

<div class="row mb-2">
  <div class="col-md-6">
    <div class="card shadow-sm">
      <h3 class="card-header text-white bg-primary">Hubble</h3>
      <div class="card-body">
        <span class="badge badge-primary mb-2 text-uppercase" style="background-color: teal;">Closed Source</span>
        <div class="row overflow-hidden flex-md-row h-md-250 position-relative">
          <div class="col d-flex flex-column position-static">
            <p class="card-text">The all-in-one solution for your campaigns contact management, financial accounting, and communication needs.</p>
            <p class="card-text">Started in 2019 as the database my website used to store form submissions. Hubble grew into a powerhouse after a friends congressional campaign implemented it.</p>
            <a href="https://hubble.vote" class="stretched-link">Learn more</a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src="https://hubble.vote/img/hubble.svg" width="200" height="250" alt="Hubble app icon">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card shadow-sm">
      <h3 class="card-header text-white bg-primary">Hermes</h3>
      <div class="card-body">
        <span class="badge badge-info mb-2 text-uppercase" style="background-color: teal;">Open Source</span>
        <div class="row overflow-hidden flex-md-row h-md-250 position-relative">
          <div class="col d-flex flex-column position-static">
            <p class="card-text">
              Rails API for logging emails and then sending them to AWS Simple Email Service for delivery.
              Supports multiple API clients and tracking emails sent by each client.
            </p>
            <p class="card-text">
              I created it for use at MythCoders but it's a great tool for any person/org that needs to log emails
              before sending them to AWS.
            </p>
            <a href="http://github.com/mythcoders/hermes" class="stretched-link">View GitHub repo</a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src="https://gitlab.com/uploads/-/system/project/avatar/12022021/hermes-greek-god-drawing-19.jpg" width="200" height="250" alt="Hermes app icon">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

