---
title: Hello there! &middot; Home
layout: default
---

<div data-tabs-target="tab" id="home">
  {% include tabs/home.html %}
</div>

<div data-tabs-target="tab" id="work-history" hidden>
  {% include tabs/jobs.html %}
</div>

<div data-tabs-target="tab" id="hubble" hidden>
  {% include tabs/hubble.html %}
</div>

<div data-tabs-target="tab" id="mythcoders" hidden>
  {% include tabs/mythcoders.html %}
</div>

<div data-tabs-target="tab" id="skills" hidden>
  {% include tabs/skills.html %}
</div>

<div data-tabs-target="tab" id="politics" hidden>
  {% include tabs/political.html %}
</div>
