---
title: About me
layout: default
---

<div class="row">
  <div class="col-md-3 col-sm-5">
    {% include me/sidebar.html %}
    <br />
  </div>
  <div class="col-md-9 col-sm-7">
    <ul class="nav nav-tabs padded-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="job-tab" data-toggle="tab" href="#job" role="tab" aria-controls="job" aria-selected="false">Experience</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="skill-tab" data-toggle="tab" href="#skill" role="tab" aria-controls="skill" aria-selected="true">Skills</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="course-tab" data-toggle="tab" href="#course" role="tab" aria-controls="course" aria-selected="true">Courses</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="job" role="tabpanel" aria-labelledby="job-tab">
        {% for job in site.data.jobs %}
          {% include me/job.html content=job %}
          <br />
        {% endfor %}
      </div>
      <div class="tab-pane fade" id="skill" role="tabpanel" aria-labelledby="skill-tab">
        {% for skill in site.data.skills %}
          <span class="text-dark">
            <strong>{{ skill.title }}</strong>
          </span>
          <ul class="list-inline">
            {% for item in skill.items %}
              <li class="list-inline-item">{{ item }}</li>
            {% endfor %}
          </ul>
        {% endfor %}
      </div>
      <div class="tab-pane fade" id="course" role="tabpanel" aria-labelledby="course-tab">
        {% for course in site.data.courses %}
          <blockquote class="blockquote">
            <p class="mb-0 text-dark">{{ course.name }}</p>
            <footer class="blockquote-footer">{{ course.instructor }}</footer>
          </blockquote>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
