---
title: About me
layout: default
---

<div class="row">
  <div class="col-md-3 col-sm-5">
    <div class="card">
      <img class="card-img-top" src="/images/me.jpg" alt="An headshot of Justin wearing a humerous fishing hat">
      <div class="card-body">
        <p class="card-text">
          {{ site.about_me }}
          <i class="fab fa-empire"></i>
        </p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" style="padding-left: 7px;">
          <ul class="fa-ul">
            {% for job in site.jobs %}
              <li>
                <span class="fa-li" ><i class="fas fa-building"></i></span>
                {{ job.position }}
                <br />
                <strong>
                  <a href="{{ job.url }}" target="_blank">{{ job.company }}</a>
                </strong>
              </li>
            {% endfor %}
          </ul>
        </li>
        <li class="list-group-item">
          <i class="fas fa-map-marker-alt fa-fw"></i>
          {{ site.location }}
        </li>
        <li class="list-group-item" style="padding-right: 7px;">
          <i class="fas fa-envelope fa-fw"></i>
          <a href="mailto:{{ site.email }}">
            {{ site.email }}
          </a>
        </li>
        {% for network in site.networks %}
          <li class="list-group-item">
            <i class="fab fa-{{ network.icon }} fa-fw"></i>
            <a href="{{ network.url }}/{{ network.username }}" target="_blank">{{ network.username }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <br />
  </div>
  <div class="col-md-9 col-sm-7">
    <ul class="nav nav-tabs padded-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="job-tab" data-toggle="tab" href="#job" role="tab" aria-controls="job" aria-selected="false">Experience</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="skill-tab" data-toggle="tab" href="#skill" role="tab" aria-controls="skill" aria-selected="true">Skills</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="course-tab" data-toggle="tab" href="#course" role="tab" aria-controls="course" aria-selected="true">Courses</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="job" role="tabpanel" aria-labelledby="job-tab">
        {% for job in site.data.jobs %}
          <div class="card">
            <h5 class="card-header text-dark">{{ job.company }}</h5>
            <div class="card-body">
              <ul class="list-inline">
                <li class="list-inline-item">
                  <i class="fas fa-user-tie fa-fw"></i>
                  {{ job.positions.last.title }}
                </li>
                <li class="list-inline-item">
                  <i class="fas fa-calendar-alt fa-fw"></i>
                  {{ job.positions.first.start }} - {{ job.positions.last.end }}
                </li>
                <li class="list-inline-item">
                  <i class="fas fa-map-marker-alt fa-fw"></i>
                  {{ job.location }}
                </li>
              </ul>

              <h5 class="card-title text-dark">Responsibilities</h5>
              <ul>
                {% for item in job.responsibilities %}
                  <li>{{ item }}</li>
                {% endfor %}
              </ul>

              {% if job.positions.size > 1 %}
                <h5 class="card-title text-dark">Promotions</h5>
                <ul>
                  {% for position in job.positions reversed %}
                    <li>
                      <strong>{{ position.title }}</strong>
                      <br /> {{ position.start }} - {{ position.end }}
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
          </div>
          <br />
        {% endfor %}
      </div>
      <div class="tab-pane fade" id="skill" role="tabpanel" aria-labelledby="skill-tab">
        {% for skill in site.data.skills %}
          <span class="text-dark">
            <strong>{{ skill.title }}</strong>
          </span>
          <ul class="list-inline">
            {% for item in skill.items %}
              <li class="list-inline-item">{{ item }}</li>
            {% endfor %}
          </ul>
        {% endfor %}
      </div>
      <div class="tab-pane fade" id="course" role="tabpanel" aria-labelledby="course-tab">
        {% for course in site.data.courses %}
          <blockquote class="blockquote">
            <p class="mb-0 text-dark">{{ course.name }}</p>
            <footer class="blockquote-footer">{{ course.instructor }}</footer>
          </blockquote>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
