<head>
  <title><!--# echo var="title" --> &middot; Justin Adkins</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="author" content="Justin Adkins" />
  <meta name="description" content="My personal website" />
  <meta name="keywords" content="justin,adkins,developer" />
  <link rel="shortcut icon" href="/favicon.ico" type="icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,600;0,700;1,400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/styles/main.css" />
  <script src="https://nsa.adkins.dev/script.js" data-site="YZPGZDFH" defer></script>
</head>
