<div class="c-links-with-details__item">
  <div class="c-links-with-details__link-wrapper">
    <img class="c-links-with-details__icon" src="assets/icons/note-0.png" alt="Link Icon">
    <strong>{{ job.company }}</strong>
  </div>
  <div class="c-links-with-details__details" style="background-color: #ffffff">
    <img src="/assets/icons/user_computer-0.png" alt="Title Icon">
    {{ job.positions.last.title }}
    <br />
    <img src="/assets/icons/calendar-5.png" alt="Calendar icon">
    {{ job.positions.first.start }} - {{ job.positions.last.end }}
    <br />
    <img src="/assets/icons/entire_network_globe-1.png" alt="World icon">
    {{ job.location }}

    <h4>
      <strong>Responsibilities</strong>
    </h4>
    <ul class="file-list">
      {% for item in job.responsibilities %}
      <li>{{ item }}</li>
      {% endfor %}
    </ul>

    {% if job.positions.size > 1 %}
      <h5>Position History</h5>
      <ul class="history-list">
        {% for position in job.positions reversed %}
        <li>
          {{ position.title }}
          <br />
          {{ position.start }} - {{ position.end }}
        </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
</div>
