<div class="card">
  <h5 class="card-header text-dark">{{ job.company }}</h5>
  <div class="card-body">
    <ul class="list-inline">
      <li class="list-inline-item">
        <i class="fas fa-user-tie fa-fw"></i>
        {{ job.positions.last.title }}
      </li>
      <li class="list-inline-item">
        <i class="fas fa-calendar-alt fa-fw"></i>
        {{ job.positions.first.start }} - {{ job.positions.last.end }}
      </li>
      <li class="list-inline-item">
        <i class="fas fa-map-marker-alt fa-fw"></i>
        {{ job.location }}
      </li>
    </ul>
    <h5 class="card-title text-dark">Responsibilities</h5>
    <ul>
      {% for item in job.responsibilities %}
        <li>{{ item }}</li>
      {% endfor %}
    </ul>
    {% if job.positions.size > 1 %}
      <h5 class="card-title text-dark">Position History</h5>
      <ul>
        {% for position in job.positions reversed %}
          <li>
            <strong>{{ position.title }}</strong>
            <br /> {{ position.start }} - {{ position.end }}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
</div>
