<div class="card">
  <h3 class="card-header text-white bg-primary">{{ job.company }}</h3>
  <div class="card-body">
    <ul class="list-inline">
      <li class="list-inline-item">
        <img src="/assets/icons/user_computer-0.png" alt="User icon">
        {{ job.positions.last.title }}
      </li>
      <li class="list-inline-item">
        <img src="/assets/icons/calendar-5.png" alt="Calendar icon">
        {{ job.positions.first.start }} - {{ job.positions.last.end }}
      </li>
      <li class="list-inline-item">
        <img src="/assets/icons/entire_network_globe-1.png" alt="World icon">
        {{ job.location }}
      </li>
    </ul>
    <h5 class="card-title">Responsibilities</h5>
    <ul class="file-list">
      {% for item in job.responsibilities %}
      <li>{{ item }}</li>
      {% endfor %}
    </ul>
    {% if job.positions.size > 1 %}
    <h5 class="card-title">Position History</h5>
    <ul class="history-list">
      {% for position in job.positions reversed %}
      <li>
        <strong>{{ position.title }}</strong>
        <br />
        {{ position.start }} - {{ position.end }}
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</div>
