<div class="card">
  <h1 class="card-header bg-primary text-white text-uppercase text-center">{{ site.title }}</h1>
  <img
    class="card-img-top"
    src="https://www.gravatar.com/avatar/1e765b9eb6b718df8271f5a900e5c013?s=500"
    alt="An headshot of Justin"
  />
  <div class="card-body">
    <p class="card-text">{{ site.about_me }}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" style="padding-left: 7px">
      <ul class="business-list">
        {% for job in site.jobs %}
        <li>
          {{ job.position }}
          <br />
          <strong>
            <a href="{{ job.url }}" target="_blank">{{ job.company }}</a>
          </strong>
        </li>
        {% endfor %}
      </ul>
    </li>
    <li class="list-group-item">
      <img src="/assets/icons/entire_network_globe-1.png" alt="World icon">
      {{ site.location }}
    </li>
    {% for email in site.emails %}
    <li class="list-group-item" style="padding-right: 7px">
      <img src="/assets/icons/mailbox_world-1.png" alt="Email icon">
      <a href="mailto:{{ email }}"> {{ email }} </a>
    </li>
    {% endfor %} {% for network in site.networks %}
    <li class="list-group-item">
      <img src="/assets/icons/world-5.png" alt="Email icon">
      <a href="{{ network.url }}/{{ network.username }}" target="_blank"
        >{{ network.name }} > {{ network.username }}</a
      >
    </li>
    {% endfor %}
  </ul>
</div>
