<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }} &middot; {{ site.title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="author" content="Justin Adkins" />
    <meta name="description" content="My personal website" />
    <meta name="keywords" content="justin,adkins,developer" />
    <link rel="shortcut icon" href="/favicon.ico" type="icon">
    <link rel="stylesheet" href="/assets/styles/mac.css" />
    <script src="https://nsa.adkins.dev/script.js" data-site="YZPGZDFH" defer></script>
  </head>
  <body>
    <div class="body-wrapper">
      <div class="content-frame__outer">
        <div class="content-frame__middle">
          <div class="content-frame__inner">
            <div class="content-frame__title-bar">
              <div class="content-frame__title-bar--outer">
                <div class="content-frame__title-bar--inner">
                  <div class="content-frame__grill">
                    <div class="content-frame__grill-line"></div>
                    <div class="content-frame__grill-line"></div>
                    <div class="content-frame__grill-line"></div>
                    <div class="content-frame__grill-line"></div>
                    <div class="content-frame__grill-line"></div>
                    <div class="content-frame__grill-line"></div>
                  </div>
                  <div class="content-frame__title-wrapper">
                    <h1>Justin Adkins</h1>
                  </div>
                </div>
              </div>
            </div>
            <div class="content-wrapper">
              <div class="c-navigation">
                <div class="c-navigation__wrapper">
                  <div class="c-navigation__main">
                    {% for navigation in site.data.navigation %}
                      <div class="nav-button">
                        {% assign css_class = "nav-link" %}
                        {% if navigation.text == "Home" and page.url == navigation.url %}
                          {% assign css_class = 'nav-link nav-link-active' %}
                        {% elsif navigation.text != "Home" and page.url contains navigation.url %}
                          {% assign css_class = 'nav-link nav-link-active' %}
                        {% endif %}
                        <a href="{{ navigation.url }}" class="{{ css_class }}">{{ navigation.text }}</a>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
              <div class="content-wrapper__content">
                <div class="page-components">
                  <div class="page-components__section">
                    <div class="page-components__inner">
                      {{ content }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="c-footer">
                <div class="c-footer__footer-text">
                  <p>© 2020-2022 Justin Adkins. All rights reserved. Made with ❤️ in Ohio.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
