<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }} &middot; {{ site.title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="author" content="Justin Adkins" />
    <meta name="description" content="My personal website" />
    <meta name="keywords" content="justin,adkins,developer" />
    <link rel="shortcut icon" href="/favicon.ico" type="icon">
    <link rel="stylesheet" href="/assets/styles/mac.css" />
    <script type="module">
      import { Application, Controller } from "https://unpkg.com/@hotwired/stimulus/dist/stimulus.js"
      import TabsController from "/assets/scripts/tabs_controller.js"
      window.Stimulus = Application.start()

      Stimulus.register("tabs", TabsController)
    </script>
  </head>
  <body>
    <div class="body-wrapper">
      <div class="content-frame__outer">
        <div class="content-frame__middle">
          <div class="content-frame__inner">
            <div class="content-frame__title-bar">
              <div class="content-frame__title-bar--outer">
                <div class="content-frame__title-bar--inner">
                  <div class="content-frame__grill">
                    <div class="content-frame__grill-line"></div>
                    <div class="content-frame__grill-line"></div>
                    <div class="content-frame__grill-line"></div>
                    <div class="content-frame__grill-line"></div>
                    <div class="content-frame__grill-line"></div>
                    <div class="content-frame__grill-line"></div>
                  </div>
                  <div class="content-frame__title-wrapper">
                    <h1>Justin Adkins</h1>
                  </div>
                </div>
              </div>
            </div>
            <div class="content-wrapper" data-controller="tabs" data-tabs-default-tab-value="home" data-tabs-active-class="nav-link-active">
              <div class="c-navigation">
                <div class="c-navigation__wrapper">
                  <div class="c-navigation__main">
                    <div class="nav-button">
                      <a class="nav-link nav-link-active" id="home" data-tabs-target="btn" data-action="click->tabs#select">
                        Home
                      </a>
                    </div>
                    <div class="nav-button">
                      <a class="nav-link" id="work-history" data-tabs-target="btn" data-action="click->tabs#select">
                        Work History
                      </a>
                    </div>
                    <div class="nav-button">
                      <a class="nav-link" id="mythcoders" data-tabs-target="btn" data-action="click->tabs#select">
                        MythCoders
                      </a>
                    </div>
                    <div class="nav-button">
                      <a class="nav-link" id="hubble" data-tabs-target="btn" data-action="click->tabs#select">
                        Hubble
                      </a>
                    </div>
                    <div class="nav-button">
                      <a class="nav-link" id="skills" data-tabs-target="btn" data-action="click->tabs#select">
                        Skills
                      </a>
                    </div>
                    <div class="nav-button">
                      <a class="nav-link" id="politics" data-tabs-target="btn" data-action="click->tabs#select">
                        Political History
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="content-wrapper__content">
                <div class="page-components">
                  <div class="page-components__section">
                    <div class="page-components__inner">
                      {{ content }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="c-footer">
                <div class="c-footer__footer-text">
                  <p>© 2020-2022 Justin Adkins. All rights reserved. Made with ❤️ in Ohio.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
